h1, h2, h3, h4 {
            background-color;
            color: green;
            font-size: 30px;
        }  
        h1{
            color:coral
        }
        .important{
            color: red;
        }